{# {{ form_start(form) }}
    <button type="submit" class="btn btn-primary">Submit</button>
{{ form_end(form) }} #}

{% extends 'base.html.twig' %}

{% block title %}Liste des stations{% endblock %}

{% block body %}
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Liste des stations</h3>

				<div class="card-tools">
					<div class="input-group input-group-sm" style="width: 150px;">
						<input type="text" name="table_search" class="form-control float-right" placeholder="Search">

						<div class="input-group-append">
							<button type="submit" class="btn btn-default">
								<i class="fas fa-search"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /.card-header -->
			<div class="card-body table-responsive p-0">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>Place</th>
							<th>Marque</th>
							<th>Couleur</th>
                            <th>Matricule</th>								
							<th>Client</th>
                            <th>Entrée</th>
                            <th>Sortie</th>    
						</tr>
					</thead>
					<tbody>
						{% for station in stations %}
                            {% if station.user.profile =="ROLE_USER" and app.user.id == station.user.id %}
                                
                           
							<tr>
								<td>{{ loop.index }}</td>
								<td>{{ station.place.code }}</td>
									
								<td>{{ station.marque }}</td>
                                <td>{{station.couleur}}</td>
								<td>{{ station.immatriculation }}</td>	
								<td>{{station.user}}</td>
								<td>{{station.createdAt |date('d-m-Y')}}</td>
								<td>{{station.dateOutAt |date('d-m-Y')}}</td>
                                
                                    
							</tr>
                        {% endif %}
						{% endfor %}

					</tbody>
					<caption>
						{% if totalPages > 1 %}
					<ul class="pagination">
						<li {% if currentPage == 1 %}class="disabled"{% endif %}>
							<a href="?page={{ currentPage - 1 }}" class="fas fa-arrow-left "></a>
						</li>
				
						{% for page in 1..totalPages %}
							<li {% if page == currentPage %}class="active"{% endif %}>
								<a href="?page={{ page }}"class="p-2">{{ page }}</a>
							</li>
						{% endfor %}
				
						<li {% if currentPage == totalPages %}class="disabled"{% endif %}>
							<a href="?page={{ currentPage + 1 }}" class="fas fa-arrow-right "></a>
						</li>
					</ul>
				{% endif %}
					
					</caption>
				</table>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>
{% endblock %}
