{% extends 'base.html.twig' %}

{% block title %}
	Register

{% endblock %}

{% block body %}
	
	{% for message in app.flashes('success') %}
		<div class='alert alert-success d-flex justify-content-center'>
			{{message}}
		</div>
	{% endfor %}

	{{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}
	<span class="d-flex justify-content-center mb-2">
		<div class="row d-flex justify-content-center p-2 w-75 m-0 border needs-validation">
			<div class="col col-md-6 w-100">
				<labe>Nom</label>
				{{ form_errors(registrationForm.firstname) }}
				{{ form_widget(registrationForm.firstname) }}
			</div>

			<div class="col col-md-6">
				<labe>Prenom</label>
				{{ form_widget(registrationForm.lastname) }}
				{{ form_errors(registrationForm.lastname) }}
			</div>

			<div class="col-md-6">
				<labe>
					phone
				</label>
				{{ form_errors(registrationForm.phone) }}
				{{ form_widget(registrationForm.phone) }}
			</div>
			<div class="col-md-6">
				<labe>
					Email
				</label>
				{{ form_errors(registrationForm.email) }}
				{{ form_widget(registrationForm.email) }}
			</div>

			<div class="col-md-6">
				<labe>
					Password
				</label>
				{{ form_widget(registrationForm.plainPassword, {
						label: 'Password'
					}) }}
			</div>
			<div class="col-md-3">
				<labe>
					Profile
				</label>

				{{ form_widget(registrationForm.profile,{'attr':{'class':'form-control'}}) }}
			</div>

			<div class="col-md-3">
				<labe>
					Sexe
				</label>

				{{ form_widget(registrationForm.sexe,{'attr':{'class':'form-control'}}) }}
			</div>

		</div>
	</span>
	<div class="d-flex justify-content-center">
		<button type="submit" class="btn btn-primary ">Register</button>
	</div>
	{{ form_end(registrationForm) }}
{% endblock %}
