<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}SI PARKING
			{% endblock %}
		</title>
		
		<!-- Font Awesome Icons -->
		<link
		rel="stylesheet" href="{{asset('plugins/fontawesome-free/css/all.min.css')}}">

		<!-- overlayScrollbars -->
		<link
		rel="stylesheet" href="{{asset('plugins/overlayScrollbars/css/OverlayScrollbars.min.css')}}">
		<!-- Theme style -->

		<link rel="stylesheet" href="{{asset('css/adminlte.min.css')}}">
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<link
		rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
		<!-- Google Font: Source Sans Pro -->
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">



		<!-- Ionicons -->
		<link
		rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<!-- Tempusdominus Bbootstrap 4 -->
		<link
		rel="stylesheet" href="plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
		<!-- iCheck -->
		<link
		rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">
		<!-- JQVMap -->
		<link
		rel="stylesheet" href="plugins/jqvmap/jqvmap.min.css">
		<!-- Theme style -->
		<link
		rel="stylesheet" href="dist/css/adminlte.min.css">
		<!-- overlayScrollbars -->
		<link
		rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
		<!-- Daterange picker -->
		<link
		rel="stylesheet" href="plugins/daterangepicker/daterangepicker.css">
		<!-- summernote -->
		<link
		rel="stylesheet" href="plugins/summernote/summernote-bs4.css">
		<!-- Google Font: Source Sans Pro -->
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">


		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}


	</head>
	<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">

		<div
			class="wrapper">
			<!-- Navbar -->
			{{ include('_partials/_nav.html.twig') }}
			<!-- /.navbar -->

			<!-- Main Sidebar Container -->

			{{ include('_partials/_sidebar.html.twig') }}
			<!-- Content Wrapper. Contains page content -->
				<div
				class="content-wrapper"> <!-- Content Header (Page header) -->
				<div class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">{# <div class="col-sm-6">
																													<h1 class="m-0 text-dark">Dashboard v2</h1>
																												</div> #}
							<!-- /.col -->
							{# <div class="col-sm-6">
																													<ol class="breadcrumb float-sm-right">
																														<li class="breadcrumb-item">
																															<a href="#">Home</a>
																														</li>
																														<li class="breadcrumb-item active">Dashboard v2</li>
																													</ol>
																												</div> #}
							<!-- /.col -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.container-fluid -->
				</div>
				<!-- /.content-header -->

				<!-- Main content -->
				<section class="content">
					<div class="container-fluid">
						<div class="row"> {% block body %}{% endblock %}

							</div>
							<!-- /.row -->
						</div>
						<!-- /.container-fluid -->
					</section>
					<!-- /.content -->
				</div>
				<!-- /.content-wrapper -->

				<!-- Control Sidebar -->
				<aside
					class="control-sidebar control-sidebar-dark"><!-- Control sidebar content goes here -->
				</aside>
				<!-- /.control-sidebar -->

				<!-- Main Footer -->
				<footer class="main-footer">
					<strong>Copyright &copy; 2024
						<a href="#">GROUPE3-ODC</a>.</strong>

					<div class="float-right d-none d-sm-inline-block">
						<b>Version</b>
						1.0.0
					</div>
				</footer>


			</div>


			<!-- REQUIRED SCRIPTS -->
			<!-- jQuery -->
			<script src="{{asset('plugins/jquery/jquery.min.js')}}"></script>
			<!-- Bootstrap -->
			<script src="{{asset('plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
			<!-- overlayScrollbars -->
			<script src="{{asset('plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')}}"></script>
			<!-- AdminLTE App -->
			<script src="{{asset('js/adminlte.js')}}"></script>

			<!-- OPTIONAL SCRIPTS -->
			<script src="{{asset('js/demo.js')}}"></script>

			<!-- PAGE PLUGINS -->
			<!-- jQuery Mapael -->
			<script src="{{asset('plugins/jquery-mousewheel/jquery.mousewheel.js')}}"></script>
			<script src="{{asset('plugins/raphael/raphael.min.js')}}"></script>
			<script src="{{asset('plugins/jquery-mapael/jquery.mapael.min.js')}}"></script>
			<script src="{{asset('plugins/jquery-mapael/maps/usa_states.min.js')}}"></script>
			<!-- ChartJS -->
			<script src="{{asset('plugins/chart.js/Chart.min.js')}}"></script>

			<!-- PAGE SCRIPTS -->
			<script src="{{asset('js/pages/dashboard2.js')}}"></script>

		<script src="{{asset('plugins/jquery/jquery.min.js')}}"></script>
		<!-- jQuery UI 1.11.4 -->
		<script src="{{asset('plugins/jquery-ui/jquery-ui.min.js')}}"></script>
		<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
		<script>
		  $.widget.bridge('uibutton', $.ui.button)
		</script>
		<!-- Bootstrap 4 -->
		<script src="{{asset('plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
		<!-- ChartJS -->
		<script src="{{asset('plugins/chart.js/Chart.min.js')}}"></script>
		<!-- Sparkline -->
		<script src="{{asset('plugins/sparklines/sparkline.js')}}"></script>
		<!-- JQVMap -->
		<script src="{{asset('plugins/jqvmap/jquery.vmap.min.js')}}"></script>
		<script src="{{asset('plugins/jqvmap/maps/jquery.vmap.usa.js')}}"></script>
		<!-- jQuery Knob Chart -->
		<script src="{{asset('plugins/jquery-knob/jquery.knob.min.js')}}"></script>
		<!-- daterangepicker -->
		<script src="{{asset('plugins/moment/moment.min.js')}}"></script>
		<script src="{{asset('plugins/daterangepicker/daterangepicker.js')}}"></script>
		<!-- Tempusdominus Bootstrap 4 -->
		<script src="{{asset('plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')}}"></script>
		<!-- Summernote -->
		<script src="{{asset('plugins/summernote/summernote-bs4.min.js')}}"></script>
		<!-- overlayScrollbars -->
		<script src="{{asset('plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')}}"></script>
		<!-- AdminLTE App -->
		<script src="{{asset('js/adminlte.js')}}"></script>
		<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
		<script src="{{asset('js/pages/dashboard.js')}}"></script>
		<!-- AdminLTE for demo purposes -->
		<script src="{{asset('js/demo.js')}}"></script>

		{% block javascript %}
			<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

		{% endblock %}

		</body>
	</html>
