{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

<div class="d-flex justify-content-center w-100">
    <table class="table table-bordered  w-75">
        <caption>
            <span class="d-flex justify-content-center w-100">
            <a href="{{ path('app_user_edit', {'id': user.id}) }}" >
                <button class="fas fa-edit p-2 text-primary" title="modifier"></button>
            </a>
                
            {# <i class="fas fa-trash text-danger p-2" >{{ include('user/_delete_form.html.twig') }}</i> #}
            <form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                <button type="submit" class="fas fa-trash text-danger p-2" title="supprimer"></button>
            </form>
    
    
        </span>
        </caption>
        
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr> #}
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            {# <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr> #}
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Profile</th>
                <td>{{ user.profile }}</td>
            </tr>
        </tbody>
    </table>

</div>

    {# <a href="{{ path('app_user_index') }}">back to list</a> #}

    
    
{% endblock %}
